name: Update Log

on:
  schedule:
    - cron: '0 14 * * *'
    - cron: '0 18 * * *'
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  update-log:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run update log script
        run: bash scripts/update-log.sh

      - name: Commit changes
        run: |
          git config --local user.name "AnibalMaxDiaz"
          git config --local user.email "148412143+AnibalMaxDiaz@users.noreply.github.com"
          git add logs/entries.txt
          git commit -m "Update log entry: $(date '+%Y-%m-%d %H:%M:%S')"
          git push origin main  # Change 'main' to your default branch if different